.ubah {
    background-color: white !important;
    border: #0d6efd solid 1px !important;
    color: #0d6efd;
}

.ubah:hover {
    color: #0d6efd;
}

#ubah {
    width: 8rem;
}

#tambah-penulis input,
.input-penulis {
    border: solid rgb(128, 128, 128) thin !important;
}
