.judul-btn {
    width: 100% !important;
    display: block;
    background-color: #5bc0de;
    color: white;
    border-radius: 2px;
    padding: 4px;
    margin: 0.5rem 0;
    text-align: center;
}

.subjudul-soal ul li {
    list-style-type: decimal;
}

.subjudul-soal {
    margin: 0.5rem 0;
}

.subjudul-soal label {
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
    font-weight: 700;
}

p {
    margin-bottom: 0;
}

.gambar-soal {
    max-width: 20rem;
}

.gambar-soal:nth-child(1) {
    margin-right: 1rem;
}

.vignetteDanPertanyaan p {
    display: inline;
}

.skorNot {
    background-color: rgb(175, 175, 175) !important;
}

#tabel thead th:nth-child(3),
#tabel thead th:nth-child(4),
#tabel thead th:nth-child(5) {
    width: 7%;
}
